/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: 'Noto Sans KR', sans-serif
}

.feed {
  background-color: #FFFFFF;
  padding: 16px;
  margin: 16px;
  border-radius: 3%;
  box-shadow: 0.5px 0.5px 5px 0px #999999;
}

.feed_page {
	background-color: #F2EEF5;
	padding: 20px 20px 20px 20px;
}

.feed_page_title {
	font-size: 20px;
	color: #643480;
	font-weight: bold;
}

.feed_profile_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.feed_profile {
	display: flex;
}

.feed_profile_content {
	margin-top: 5px;
	margin-left: 5px;
	height: 30px;
	font-size: 10px;
	line-height: 150%;
	color: #999999;
}

.feed_picture {
	margin-bottom: 8px;
	text-align: center;
}

.feed_content {
	font-size: 14px;
	text-align: center;
	color: #999999;
}

.feed_content_img {
  width: 120px;
  height: 120px;
}

/*mobile style*/
@media only screen and (max-width: 400px) {
	.main_carousel {
		height: 318px;
	}
	.main_intro {
		height: 145px;
		width: 280px;
		margin: 0 auto;
		padding: 20px;
	}
	.main_vanity {
		height: 88px;
/*		background-color: brown;*/
	}
	.main_lifeitem {
		height : 108px;
	}
	.intro_top{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.intro_cosmetics_top, .intro_friends_top{
		font-size: 19px;
		text-align: center;
		font-weight: bold;
		color: #643480;

	}
	.intro_cosmetics_bottom, .intro_friends_bottom{
		font-size: 12px;
		text-align: center;
		font-weight: bold;
		color: #BEBEBE;
	}
	.intro_bottom_name{
		font-size: 15px;
		color: #383838;
	}
	.intro_bottom_lineintro{
		font-size: 15px;
		color:#BEBEBE;
	}
	.intro_bottom {
		padding-left: 5px;
		padding-top: 8px;
	}
	.main_vanity{
		display: flex;
/*		align-items: center;*/
		padding-left: 10px;
	}
	.vanity{
		width: 60px;
		height: 60px;
		border-radius: 5px;
		margin-left: 10px;
		text-align: center;
		padding-top: 60px;
		font-size: 10px;
		color: #A6A6A6;
		border: 1px solid #F7F7F7;
    	background-repeat:no-repeat;
   		background-size:100% 100%;		
	}
	.v1{
		background-image: url("/vanity2.png");
	}
	.v2{
		background-image: url("/vanity1.png")
	}
	.v3{
		background-image: url("/vanity2.png")
	}
	.v4{
		background-image: url("/vanity1.png")
	}
	.plus-btn{
		background-image: url("/vanity2.png")
	}
	.main_lifeitem_title{
		padding-top: 16px;
		padding-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
		width: 100%;
		padding-left: 165px;
	}
	.flex_lifeitem{
		display: flex;
		align-items: center;
  		flex-wrap: nowrap;
  		overflow-x: auto;		
	}
	.lifeitem{
		flex: 0 0 auto;
		border-radius: 50%;
  		width: 60px;
  		height: 60px;
  		background-color: #ffffff;
  		border: 1px solid #F7F7F7;
  		margin-left: 8px;
  		display: flex;
  		align-items: center;
  		justify-content: space-around;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
		  display: none;
		}
	}
	.l1{
		margin-left: 20px;
	}
	.lifeitem_img{
		height: 45px;
		display: block;
  		-webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.41));
  		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.41));

	}
	.main_comment{
		margin-left: 32px;
		margin-right: 32px;
		margin-top: 35px;
	}
	.main_comment_title, .main_cosmeticlist{
		font-size: 14px;
		color: #643480;
		font-weight: 900;
    	margin-bottom: 15px;
	}
	.face_30{
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}
	.main_comment_flexbox{
		display: flex;
    	margin-bottom: 16px;		
	}
	.comment_face{
		margin-right: 8px;
	}
	.comment_top{
		display: flex;
		font-size: 10px;
	}
	.comment_id{
		margin-right: 9px;
		font-weight: 900;
	}
	.comment_id, .comment_real_content{
		color: #999999;
	}
	.comment_when{
		color: #DBDBDB;
	}
	.comment_real_content{
		font-weight: 500;
		font-size: 12px;
	}
	.see_more{
		text-align: right;
		font-size: 10px;
		color: #999999
	}
	.comment_temp{
		display: flex;
		height: 35px;
		border-radius: 5px;
	}

	.main_cosmeticlist{
		margin-left: 32px;
	}

	.main_cosmeticlist_card{
		width: 343px;
  		border-radius: 5px;
  		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.04);
  		background-color: #fcfcfc;
  		margin: auto;
  		padding: 16px;
	}
	.card_top {
		font-size: 10px;
		color: #989898
	}
	.card_mid {
		font-size: 10px;
		color: red;
	}
	.cosmetic_picture{
		display: block;
		height: 120px;
    	margin-left: auto;
    	margin-right: auto;
	}
	.cosmetic_name{
		text-align: center;
		color: #989898;
		font-size: 14px;
	}
	.cosmetic_review{
		font-size: 14px;
		color: #666666;
	}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
}


	.stickyheader {
		width:100%; 
		height:55px;
		border-bottom: 0.1px solid #e6e6e6;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 20px;
		padding-left: 20px;
		top: 0;
		position: fixed;
		background-color: white;
		z-index: 100;
	}

	.footer_j {
		width: 100%;
		height : 55px;
		display: flex;
	    position: fixed;
	    left: 0;
	    bottom: 0;
	}
	.footer_1,.footer_2,.footer_3{
		width: 33%;
		height: 55px;
		background-color: #ffffff;
	}
	.footericon{
/*		width: 24px;*/
		height: 18px;
		display: block;
		margin: 15px auto;		
	}
	.footer_1, .footer_2{
		border-right: 1px solid #f0f0f0;
	}
	.register_button{
		bottom: 55px;
		right: 0;
		position: fixed;
		margin: 10px;
	}

.carousel_background_image{
	width: 100%;
    height: 318px;
    object-fit: cover;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.04);
}

.button_jane{
	border-radius: 15px;
	font-size: 8px;
}


