/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.feed {
	background-color: #FFFFFF;
  padding: 16px;
  margin: 16px;
  border-radius: 3%;
  box-shadow: 0.5px 0.5px 5px 0px #999999;
}

.feed_page {
	background-color: #F2EEF5;
	padding: 20px 20px 20px 20px;
}

.feed_page_title {
	font-size: 20px;
	color: #643480;
	font-weight: bold;
}

.feed_profile_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.feed_profile {
	display: flex;
}

.feed_profile_content {
	margin-top: 5px;
	margin-left: 5px;
	height: 30px;
	font-size: 10px;
	line-height: 150%;
	color: #999999;
}

.feed_picture {
	margin-bottom: 8px;
	text-align: center;
}

.feed_content {
	font-size: 14px;
	text-align: center;
	color: #999999;
}

.feed_content_img {
  width: 120px;
  height: 120px;
}

/*mobile style*/
@media only screen and (max-width: 400px) {
	.main_carousel {
		height: 318px;
	}
	.main_intro {
		height: 145px;
		width: 90%;
		margin: 0 auto;
		padding: 20px;
	}
	.main_vanity {
		height: 108px;
		background-color: brown;
	}
	.main_lifetem {
		height : 108px;
		background-color: blue;
	}
	.intro_top{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.intro_cosmetics_top, .intro_friends_top{
		font-size: 19px;
		text-align: center;
	}
	.intro_cosmetics_bottom, .intro_friends_bottom{
		font-size: 12px;
		text-align: center;
	}
	.intro_bottom_name{
		font-size: 15px;
	}
	.intro_bottom {
		padding-left: 10px;
		padding-top: 5px;
	}

	.footer_j {
		width: 100%;
		height : 55px;
		display: flex;
	    position: fixed;
	    left: 0;
	    bottom: 0;		
		border: 1px solid #f0f0f0;
	}
	.footer_1,.footer_2,.footer_3{
		width: 33%;
		height: 55px;
		background-color: #ffffff;
	}
	.footer_1, .footer_2{
		border-right: 1px solid #f0f0f0;
	}
	.register_button{
		bottom: 55px;
		right: 0;
		position: fixed;
		margin: 10px;
	}

}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

}


