<h1>검색을 하는 페이지</h1>

 <div class='search'>
 	<form autocomplete="off" action="/cosmetics/search_result">
 		<div class="autocomplete" style="width:300px;">
              <input id="myInput" type="text" name="mySearch" placeholder="친구, 화장품을 검색하세요">
            </div>
            <input type="submit">
    </form>
 </div>  


 <친구추천>
 <% @countdic.each do |key,value| %>
  <% if !current_user.is_friend?(User.find(key)) and current_user.id != key %>  
    <%= User.find(key).nickname %>/
    나랑 겹치는 인생템 갯수: <%= @countdic[key] %> <br>
  <% end %>
 <% end %> 

 



<!-- 검색 자바 -->
<script type="text/javascript">

var options = {
  data: gon.country,
  list: {
    match: {
      enabled: true
    }
  }
};

$("#myInput").easyAutocomplete(options);

</script>


